* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}



/* NAVBAR */
#navbar .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
}

/* HERO */
#hero {
    background: lightblue url("https://images.unsplash.com/photo-1634604996159-6dc16d21ccda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80") center center/cover no-repeat;
    background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#hero .hero-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 72px;
    color: white;
}
@media screen and (max-width: 600px) {
  #hero .hero-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    color: white;
  }
}


.hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
}

.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hover button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}

.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
}

.ehover1 img {
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  
  .ehover1 .overlay {
    opacity: 0;
    background-color: rgba(0,0,0, 0.5);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .ehover1 h2 {
    -moz-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    -o-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .ehover1 button.info {
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .ehover1:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .ehover1:hover .overlay {
    opacity: 1;
  }
  
  .ehover1:hover h2, .ehover1:hover button.info {
    opacity: 1;
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
  
  .ehover1:hover button.info {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }